@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  min-width: 200%;
  animation: marquee 30s linear infinite;
}
